<%- include('partials/header') %>

    <h2 class="title-article">
        Liste des livres
    </h2>
    
    <div class="container-article">

        <% for (const book of books) { %>
            <article class="book-card">
                <div class="book-card-header-footer">
                    <h2 class="book-card-originalTitle"> <%= book.original_title %> </h2>
                    <h3 class="book-card-title"> <%= book.title %> </h3>
                </div>
                <div class="img-left-text-right">
                    <img src="<%= book.cover %>" alt="photo de <%= book.title %> ">
                    <p class="book-card-summary"> <span class="summary"> résumé :</span> <%= book.summary %> </p>
                </div>
                <div class="book-card-header-footer">
                    <p class="book-card-paperback-price"> Prix broché : <span class="book-card-priceNumber"> <%= book.paperback_price %> €</span> </p>
                    <p class="book-card-ebook-price"> Prix ebook : <span class="book-card-priceNumber"> <%= book.ebook_price %> €</span> </p>
                </div>
            </article>
        <% } %>
    </div>

    
<%- include('partials/footer') %>